---
layout: layouts/default.liquid
permalink: /404.html
body_scripts:
  - src: "/assets/js/main.js"
stylesheets:
  - src: "/assets/css/style.css"
og_src: ./meta/og/og.html
og_data:
  title: 404
---
<h1>page not found</h1>